services:
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    restart: unless-stopped
    
  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - /mnt/d/docker_vol/ollama_data:/root/.ollama
    healthcheck:
      test: ["CMD", "/bin/sh", "-c", "ollama list || exit 0"]
      interval: 60s
      timeout: 5s
      retries: 3
      start_period: 30s
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    restart: unless-stopped

  streamlit:
    build: .
    container_name: streamlit_app
    command: ["uv", "run", "streamlit", "run", "main.py", "--server.port=8501", "--server.address=0.0.0.0"]
    environment:
      REDIS_URL: "redis://redis:6379/0"
      OLLAMA_HOST: "http://ollama:11434"
    depends_on:
      redis:
        condition: service_healthy
      ollama:
        condition: service_healthy
    ports:
      - "8501:8501"
    restart: unless-stopped

  worker:
    build: .
    container_name: celery_worker
    command: ["uv", "run", "celery", "-A", "worker.celery_app", "worker", "-l", "info"]
    environment:
      REDIS_URL: "redis://redis:6379/0"
      OLLAMA_HOST: "http://ollama:11434"
    depends_on:
      redis:
        condition: service_healthy
      ollama:
        condition: service_healthy
    restart: unless-stopped

  celerybeat:
    build: .
    container_name: celery_beat
    command: ["uv", "run", "celery", "-A", "worker.celery_app", "beat", "-l", "info"]
    environment:
      REDIS_URL: "redis://redis:6379/0"
      OLLAMA_HOST: "http://ollama:11434"
    depends_on:
      redis:
        condition: service_healthy
      ollama:
        condition: service_healthy
    restart: unless-stopped
    

  flower:
    build: .
    container_name: celery_flower
    command: ["uv", "run", "celery", "-A", "worker.celery_app", "flower", "--port=5555"]
    environment:
      REDIS_URL: "redis://redis:6379/0"
      OLLAMA_HOST: "http://ollama:11434"
    depends_on:
      redis:
        condition: service_healthy
      worker:
        condition: service_started
    ports:
      - "5555:5555"
    restart: unless-stopped
    